#ask_ul {
    list-style: none;
    padding-left:0;
    margin-left:0;
}

#ask_ul > li {
    padding-left:0;
    margin-left:0;
    display:block;
    min-height:30px;
    margin-bottom:10px;
}
#ask_ul input, #ask_ul textarea {
    width:500px;
}

