

#questions_ul {
    list-style: none;
}

#questions_ul > li.main:first-child{
    border-top:1px solid #aaa;
}

#questions_ul > li.main{
    display:block;
    border-bottom:1px solid #aaa;
}

#questions_ul .list_content {
    height:70px;
    list-style:none;
}
#questions_ul .list_content > li{
    float:left;
    font-size:0.8em;
    padding-top:20px;
    text-align:center;
}

#questions_ul .list_content > li .signa{
    padding-top:2px;

}

#questions_ul .list_content > li .tags{
    display:block;
    margin-top:4px;
}

#questions_ul .list_content > li .tags a {
    background-color:#efefef;
    display:block;
    float:left;
    padding:2px 4px;
    margin-right:8px;
    text-decoration:none;
    color:#666;
}

#questions_ul .list_content > li .tags a:hover {
    color:#ef0000;
}

#questions_ul .list_content > li .quest_cnt{
    text-align:left;
    padding-left:20px;
}

#questions_ul .list_content > li .sign{
    padding-top:2px;
}


#questions_ul a.head {
    font-size:1.2em;
}
#questions_ul a.head:hover {
    color:#ef0000;
}
#questions_ul .digit {
    font-size:1.2em;
}

#question_filter {
    margin-bottom:20px;
}

#question_filter a {
    color:#aaa;
    text-decoration:underline;
    cursor:pointer;
}
#question_filter a.active {
    color:#333;
    text-decoration:none;
    cursor:default;
}

#question_filter a:hover {
    color:#ef0000;
}

#question_filter a.active:hover {
    color:#333;
}