.up_arrow {
    width:40px;
    height:24px;
    background-image:url('/static/images/sprite1.png');
    background-position: -42px 0px;
}

.down_arrow {
    width:40px;
    height:24px;
    background-image:url('/static/images/sprite1.png');
    background-position: -42px -26px;
}
.up_arrow.changeable, .down_arrow.changeable {
    cursor:pointer;
}
.up_arrow.changeable:hover {
     background-image:url('/static/images/sprite1.png');
    background-position: 0px 0px;
}

.down_arrow.changeable:hover {
     background-image:url('/static/images/sprite1.png');
    background-position: 0px -26px;
}

.votes {
    width:40px;
    height:40px;
    text-align:center;
    vertical-align:middle;
    font-size:1.4em;
    font-weight:bold;
    color:#aaa;
    display: table;
    padding-top:1px;
    padding-left:1px;
}

.up_arrow.active {
     background-image:url('/static/images/sprite1.png');
    background-position: -84px 0px;
}

.down_arrow.active {
      background-image:url('/static/images/sprite1.png');
    background-position: -84px -26px;
}

.best_answer {
    width:38px;
    height:28px;
    margin-top: 10px;
}

.best_answer.for_author {
    cursor:pointer;
    background-image:url('/static/images/sprite1.png');
    background-position: 1px -60px;
}

.best_answer.active {
     background-image:url('/static/images/sprite1.png');
    background-position: -43px -60px;
}


.votes span {
    display: table-cell;
    text-align:center;
    width:100%;
    vertical-align:middle;
}

.question {
    clear:both;
    display:block;
    width:100%;
    min-height:140px;
}
.question_content {
    padding-left:0px;
    height: auto;
    min-height:180px;
    position:relative;
}
.question .question_content .wrap {
   word-break: break-all;
   clear:both;
    display:block;
     height: auto;
    padding-bottom:70px;
}

.question .question_content .tags {
    clear: both;
    padding-top:10px;
}

.question .question_content .tags a {
    background-color:#efefef;
    display:block;
    float:left;
    padding:2px 4px;
    margin-right:8px;
    text-decoration:none;
    color:#666;
}

.question .question_content .tags a:hover {
    color:#ef0000;
}


.content {
   margin-bottom:10px;
   display:block;
}

.answers {
    clear:both;
     display:block;
    width:100%;
     min-height:140px;
    margin-top:10px;
}
.answers .answer_content {
    padding-left:0px;
    position:relative;
    height: auto;
    min-height:180px;
}
.answers .answer_content .wrap {
   word-break: break-all;
   clear:both;
    display:block;
     height: auto;
    padding-bottom:70px;
}

.sign {
    position:absolute;
    bottom:0px;
    right:0;
    width:200px;
    background-color:#efefef;
}
.sign .author {
    float:left;
    text-align:left;
    padding-left:10px;
    padding-top:7px;
}

.sign .avatar {
    width:50px;
    height:50px;
    float:left;
    border:1px solid #efefef;
}
.sign  .date {
    float:left;
    text-align:left;
    padding-top:6px;
    padding-left:10px;
    font-size:0.7em;
}


.delimiter {
    height:20px;
    border-bottom:1px solid #ddd;
    margin-bottom:20px;
    clear:both;
}

.new_question {
    margin-top:10px;
}

.new_question textarea {
    width:500px;
}

.new_question ul {
    list-style:none;
    margin:0px;
    padding:0px;
}

.new_question .btn {
    padding-top: 20px;
}
