{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question/ask.css' %}" />

    <div id="left_container" class="left w75">
        <h1>Ask question</h1>

        <form class="common" method="post" action="/ask/">
                <div class="cont">
                    {% csrf_token %}
                    <ul id="ask_ul">
                        {{ form.as_ul }}
                    </ul>
                    <div class="btn"><button type="submit">Ask!</button></div>
                </div>
        </form>
    </div>


{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}



{% endblock content %}