`{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question/question.css' %}" />


    <div id="left_container" class="left w75">

        <h1>{{ question.heading }}</h1>
        <div class="question" id="question_{{ question.id }}">
            <div class="content">
                <div class="left w10">
                    <div class='quest_vote up_arrow {% if question.active_user_vote == 1 %} active {% endif %} {% if user.is_authenticated %} changeable {% endif %}' data-id="{{ question.id }}"></div>
                    <div class="votes"><span>{{ question.votes }}</span></div>
                    <div class='quest_vote down_arrow {% if question.active_user_vote == -1 %} active {% endif %} {% if user.is_authenticated %} changeable {% endif %}' data-id="{{ question.id }}"></div>
                </div>
                <div class="question_content right w90" >
                    <div class="wrap">
                         <div class="cnt">{{ question.content }}</div>
                         <div class="tags">
                             {% for tag in question.tags.all %}
                                            <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                         <div class="sign">
                              <div class="avatar" style="background-image:url('/media/{{ question.author_avatar }}');background-size:cover;background-repeat:no-repeat;background-position:center center;')"></div>
                              <div class="author">{{ question.author_name }}</div>
                              <div class="date">{{ question.pub_date }}</div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="delimiter"></div>

        {% if answers %}
            {% for answer in answers %}
                <div class="answers" id="answer_{{ answer.id }}">
                    <div class="content">
                        <div class="left w10">
                            <div class="answer_vote up_arrow {% if answer.active_user_vote == 1 %} active {% endif %} {% if user.is_authenticated %} changeable {% endif %}" data-id="{{ answer.id }}"></div>
                            <div class="votes"><span>{{ answer.votes }}</span></div>
                            <div class="answer_vote down_arrow {% if answer.active_user_vote == -1 %} active {% endif %} {% if user.is_authenticated %} changeable {% endif %}" data-id="{{ answer.id }}"></div>

                            {% if question.author.id == user.id %}
                            <div class="best_answer for_author {% if question.best_answer == answer %} active {% endif %}" data-id="{{ answer.id }}"></div>
                            {% elif question.best_answer == answer %}
                            <div class="best_answer active"></div>
                            {% endif %}
                        </div>
                        <div class="answer_content right w90" >
                            <div class="wrap">
                                <div class="cnt">{{ answer.content }}</div>
                                <div class="sign">
                                    <div class="avatar" style="background-image:url('/media/{{ answer.author_avatar }}');background-size:cover;background-repeat:no-repeat;background-position:center center;')"></div>
                                    <div class="author">{{ answer.author_name }}</div>
                                    <div class="date">{{ answer.pub_date }}</div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                 <div class="delimiter"></div>
            {% endfor%}

            <div class="pagination">
                <span class="step-links">
                    {% if answers.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ answers.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ answers.number }} of {{ answers.paginator.num_pages }}
                    </span>

                    {% if answers.has_next %}
                        <a href="?page={{ answers.next_page_number }}">next</a>
                        <a href="?page={{ answers.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        {% endif%}

        {% if user.is_authenticated %}
        <div class="new_question">
            <h2>Your answer</h2>
            <form class="common" method="post" action="/question/{{ question.id }}/">
                    <div class="cont">
                        {% csrf_token %}
                        <ul id="ask_ul">
                            {{ form.as_ul }}
                        </ul>
                        <div class="btn"><button type="submit">Submit!</button></div>
                    </div>
            </form>
        </div>
        {% endif %}

    </div>


{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}

<script src="/static/js/question.js" type="text/javascript"></script>
{% endblock content %}