{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/question/list.css' %}" />


    <div id="left_container" class="left w75">
        <h1>Search results</h1>

        {% if questions %}

            <ul id="questions_ul">
                {% for question in questions %}
                    <li class="main">
                        <ul class="list_content">
                            <li class="w10">
                                <div class="digit">{{ question.votes }}</div>
                                <div class="sign">Votes</div>
                            </li>
                            <li class="w10">
                                <div class="digit">{{ question.answers }}</div>
                                <div class="sign">Answers</div>
                            </li>
                            <li class="w60">
                                <div class="quest_cnt">
                                    <a class="head" href="/question/{{ question.id }}/">
                                        {{ question.heading }}
                                    </a>
                                    <div class="tags">
                                        {% for tag in question.tags.all %}
                                            <a href="/tag/{{ tag.name }}/">{{ tag.name }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </li>
                            <li class="w20">
                                <a href="/user/">{{ question.author_name }}</a>
                                <div class="sign">
                                    Added {{ question.published }} ago
                                </div>

                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>

            <div class="pagination">
                <span class="step-links">
                    {% if questions.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ questions.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ questions.number }} of {{ questions.paginator.num_pages }}
                    </span>

                    {% if questions.has_next %}
                        <a href="?page={{ questions.next_page_number }}">next</a>
                        <a href="?page={{ questions.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        {% else %}
            <p>No questions are available right now.</p>
        {% endif %}

    </div>






{% if message %}
    <p><strong>{{ message }}</strong></p>
{% endif %}



{% endblock content %}