{% extends "base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index/signup.css' %}" />

<div id="left_container" class="left w75">
    <div id="login_container" class="">
        <h1>Sign up</h1>
            <form method="post" class="common" action="/signup/"  enctype="multipart/form-data">
                <div class="cont">
                    {% csrf_token %}
                    <ul class="form_ul">
                         {{ form.as_ul }}
                    </ul>
                    <div class="btn"><button type="submit">Enter</button></div>
                </div>
            </form>
    </div>


    {% if message %}
        <p><strong>{{ message }}</strong></p>
    {% endif %}
</div>


{% endblock content %}